In [ ]:
import pandas as pd
from datetime import datetime

def fiscal_quarter_and_semester(date):
    fiscal_year_start = datetime(date.year if date.month >= 10 else date.year - 1, 10, 1)
    fiscal_quarter = ((date.month - fiscal_year_start.month) // 3) % 4 + 1
    fiscal_semester = 1 if fiscal_quarter in [1, 2] else 2
    return fiscal_quarter, fiscal_semester

df = pd.DataFrame(pd.date_range(start='1/1/2005', end='31/12/2014'), columns=['FullDateAlternateKey'])

df['DateKey'] = df['FullDateAlternateKey'].dt.strftime('%Y%m%d')
df['DayNumberOfWeek'] = df['FullDateAlternateKey'].dt.dayofweek + 1
df['EnglishDayNameOfWeek'] = df['FullDateAlternateKey'].dt.strftime('%A')
df['SpanishDayNameOfWeek'] = df['FullDateAlternateKey'].dt.strftime('%A').map({
    'Monday': 'Lunes', 'Tuesday': 'Martes', 'Wednesday': 'Miércoles', 
    'Thursday': 'Jueves', 'Friday': 'Viernes', 'Saturday': 'Sábado', 'Sunday': 'Domingo'
})
df['FrenchDayNameOfWeek'] = df['FullDateAlternateKey'].dt.strftime('%A').map({
    'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi', 
    'Thursday': 'Jeudi', 'Friday': 'Vendredi', 'Saturday': 'Samedi', 'Sunday': 'Dimanche'
})
df['DayNumberOfMonth'] = df['FullDateAlternateKey'].dt.day
df['DayNumberOfYear'] = df['FullDateAlternateKey'].dt.dayofyear
df['WeekNumberOfYear'] = df['FullDateAlternateKey'].dt.isocalendar().week
df['EnglishMonthName'] = df['FullDateAlternateKey'].dt.strftime('%B')
df['SpanishMonthName'] = df['FullDateAlternateKey'].dt.strftime('%B').map({
    'January': 'Enero', 'February': 'Febrero', 'March': 'Marzo', 'April': 'Abril', 
    'May': 'Mayo', 'June': 'Junio', 'July': 'Julio', 'August': 'Agosto', 
    'September': 'Septiembre', 'October': 'Octubre', 'November': 'Noviembre', 'December': 'Diciembre'
})
df['FrenchMonthName'] = df['FullDateAlternateKey'].dt.strftime('%B').map({
    'January': 'Janvier', 'February': 'Février', 'March': 'Mars', 'April': 'Avril', 
    'May': 'Mai', 'June': 'Juin', 'July': 'Juillet', 'August': 'Août', 
    'September': 'Septembre', 'October': 'Octobre', 'November': 'Novembre', 'December': 'Décembre'
})
df['MonthNumberOfYear'] = df['FullDateAlternateKey'].dt.month
df['CalendarQuarter'] = df['FullDateAlternateKey'].dt.quarter
df['CalendarYear'] = df['FullDateAlternateKey'].dt.year
df['CalendarSemester'] = df['CalendarQuarter'].apply(lambda x: 1 if x in [1, 2] else 2)

fiscal_info = df['FullDateAlternateKey'].apply(fiscal_quarter_and_semester)
df['FiscalQuarter'] = fiscal_info.apply(lambda x: x[0])
df['FiscalYear'] = df['FullDateAlternateKey'].dt.to_period('Q-OCT').dt.qyear
df['FiscalSemester'] = fiscal_info.apply(lambda x: x[1])

In [8]:
df.head()

,FullDateAlternateKey,DateKey,DayNumberOfWeek,EnglishDayNameOfWeek,SpanishDayNameOfWeek,FrenchDayNameOfWeek,DayNumberOfMonth,DayNumberOfYear,WeekNumberOfYear,EnglishMonthName,SpanishMonthName,FrenchMonthName,MonthNumberOfYear,CalendarQuarter,CalendarYear,CalendarSemester,FiscalQuarter,FiscalYear,FiscalSemester
0,2005-01-01,20050101,6,Saturday,Sábado,Samedi,1,1,53,January,Enero,Janvier,1,1,2005,1,2,2005,1
1,2005-01-02,20050102,7,Sunday,Domingo,Dimanche,2,2,53,January,Enero,Janvier,1,1,2005,1,2,2005,1
2,2005-01-03,20050103,1,Monday,Lunes,Lundi,3,3,1,January,Enero,Janvier,1,1,2005,1,2,2005,1
3,2005-01-04,20050104,2,Tuesday,Martes,Mardi,4,4,1,January,Enero,Janvier,1,1,2005,1,2,2005,1
4,2005-01-05,20050105,3,Wednesday,Miércoles,Mercredi,5,5,1,January,Enero,Janvier,1,1,2005,1,2,2005,1